*{
    margin: 0px;

   list-style: none;
   text-decoration: none;

}
.header{
    width: 966px;
    padding-left: 25px;
    margin-left: 55.5px;
    background-color:white;
}
.inner_header{
    display: flex;
    padding: 30.5px 0 23px 0;
    max-width: 960px;
}
.logo_container{
    height: 40px;
    display: table;
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
}
.logo_container img{
    display: table-cell;
    vertical-align: bottom;
    margin-right: 55px;
    float: left;
    align-items: center;
    padding-top: 12px;
}
.navigation{
    float: left;
    height: 100%;
}
.navigation a{
    display: table;
    float: left;
    align-items: center;
}
.navigation a li{
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #1A232F;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.all{
    display: block;
    width: 100%;
    height: 2000px;
}
.bigbox{
    width: 100%;
    height: 550px;
    background-color: #3597FF;
    margin-bottom: 70px;
}
.container{
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 120px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
}
.bigtext1{
    float: left;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 40px;
    line-height: 40px;
    color: white;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 40px;
    text-size-adjust: 100%;
    width: 530px;
    height: 144px;
}
.smoltext1{
box-sizing: border-box;
color: white;
display: block;
font-size: 17.5px;
line-height: 28.5px;
text-align: left;
text-size-adjust: 100%;
font-weight: 300;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texts-wrpapper{
    display: flex;
    flex-direction: column;
}
.imgthing{
    box-sizing: border-box;
    height: 76.2px;
    width: 960px;
}
.big-photo{
    position: absolute;
    bottom: 0;
    width: 570px;
    height: 450px;
}
.text2{
    margin-bottom: 70px;
    height: 145px;
}
.dtext2{
    display: flex;
    flex-direction: column;
    margin-left: 39.5px;
    margin-right: 39.5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 145px;
}
.h1super{
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    height: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h4super{
    height: 57px;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 28.5px;
    color: #4D6080;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shitsec{
    height: 307px;
    margin-bottom: 70px;
}
.containers1{
    margin-left: 39.5px;
    margin-right: 39.5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 145px;
    height: 307px;
}
.boxes3{
    height: 307px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.blue{
    width: 290px;
    height: 287px;
    padding-left: 15px;
    padding-right: 15px;
}
.bluebox{
padding-bottom: 15px;
}
.fotoblue{
    height: 45px;
    width: 45px;
    margin-bottom: 23px;
}
.h3smart{
    width: 290px;
    height: 53px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.smoltxt{
    width: 290px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 23px;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #5C7091;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.smol{
    bottom: 0px;
}
.yellow{
    width: 290px;
    height: 287px;
    padding-left: 15px;
    padding-right: 15px;
}
.green{
    width: 290px;
    height: 287px;
    padding-left: 15px;
    padding-right: 15px;
}
