* {
    padding: 0px;
    margin: 0px;
}

body {
	background: linear-gradient(-45deg, white, #eb9c9c, #ffedaa, #bdfced);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
    width: 100%;
    height: 620px;
}

.header {
    width: 100%;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
}

.maintext {
    color: black;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 34px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.678);
}

.bodyall {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.projects {
    width: 220px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-radius: 6px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.link {
    width: 220px;
    height: 50px;
    color: white;
    text-decoration: transparent;
}